<main>
	<h1>Packlisten</h1>
	<button
		mat-raised-button
		(click)="createPackingList()"
		*requireAuthority="AuthorityEnumDto.ManageResources"
	>Packliste erstellen
	</button>
	<div class="content">
		<ul>
			<li
				*ngFor="let packingList of packingLists ?? []"
			>
				<a [routerLink]="'/packingList/' + packingList.packingListId">Packliste {{ packingList.packingListId }} / {{packingList.packingListName}}</a>
				liegt auf
				<a [routerLink]="'/euroPallet/' + packingList.packedOn.euroPalletId">Pallette {{ packingList.packedOn.euroPalletId }}</a>
				im Status {{packingList.deliveryState}}
			</li>
		</ul>
	</div>
</main>
