@if(!selected) {
	<h1>Loading Packliste</h1>
} @else {
	<h1>Packliste {{selected.packingListId}} / {{selected.packingListName}}</h1>
	<p>Auf palette: <a [routerLink]="'/euroPallet/' + selected.packedOn.euroPalletId">Pallette {{ selected.packedOn.euroPalletId }}</a></p>
	<form (ngSubmit)="saveIt(); theForm.control.markAsPristine()" #theForm="ngForm">
		<div class="content">

			<mat-form-field>
				<mat-select [(ngModel)]="selected.deliveryState" name="deliveryState" required #deliveryStateControl="ngModel">
					@for(vs of Object.keys(DeliveryStateEnumDto); track vs) {
						<mat-option [value]="vs">{{vs}}</mat-option>
					}
				</mat-select>
			</mat-form-field>

			<table mat-table [dataSource]="source" matSort>

				<ng-container matColumnDef="status">
					<th mat-header-cell *matHeaderCellDef mat-sort-header="status" sortActionDescription="Sort by Status">Status</th>
					<td mat-cell *matCellDef="let element" class="icon-vert-center">
						@switch(element.status) {
							@case (ItemStatus.KEEP) {
								<mat-icon fontIcon="arrow_right" matTooltip="Wird nicht geändert"></mat-icon>
							}
							@case(ItemStatus.ADDED) {
								<mat-icon fontIcon="add" matTooltip="Wird hinzugefügt" [style.color]="'lightgreen'"></mat-icon>
							}
							@case(ItemStatus.REMOVED) {
								<mat-icon fontIcon="delete" matTooltip="Wird entfernt" [style.color]="'crimson'"></mat-icon>
							}
							@case(ItemStatus.TRANSFERRED) {
								<mat-icon fontIcon="arrow_right_alt" matTooltip="Wird von einer anderen Packliste bewegt" [style.color]="'cadetblue'"></mat-icon>
							}
						}
					</td>
				</ng-container>

				<ng-container matColumnDef="operationCenter">
					<th mat-header-cell *matHeaderCellDef mat-sort-header="operationCenter" sortActionDescription="Sort by OC">OC</th>
					<td mat-cell *matCellDef="let element">{{element.operationCenter}}</td>
				</ng-container>
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef mat-sort-header="name" sortActionDescription="Sort by name">Name</th>
					<td mat-cell *matCellDef="let element">{{element.name}}</td>
				</ng-container>
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>Aktionen</th>
					<td mat-cell *matCellDef="let element">
						<button mat-mini-fab type="button" (click)="remove(element)">
							<mat-icon fontIcon="delete"></mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>

			<app-crate-add-widget (crateSubmitted)="crateSubmitted($event, true)"></app-crate-add-widget>
			<button mat-flat-button (click)="scanMultiple()" type="button"	>
				<mat-icon fontIcon="qr_code_scanner"></mat-icon>
				Mehrere Scannen
			</button>

			<button mat-flat-button type="submit" [disabled]="!theForm.form.valid || !theForm.dirty">Änderungen Speichern</button>
		</div>
	</form>
}
