@if (!selected) {
	<div class="centerLoading">
		<mat-spinner mode="indeterminate"></mat-spinner>
	</div>
} @else {
	<h1>Packliste {{ selected.packingListId }} / {{ selected.packingListName }}</h1>

	<mat-tab-group dynamicHeight>
		<mat-tab label="Infos">
			<p>Auf Palette: <a [routerLink]="'/euroPallet/' + selected.packedOn.euroPalletId">Pallette {{ selected.packedOn.euroPalletId }}</a></p>
			<p><a [routerLink]="'/packingList/'+selected.packingListId+'/delivery'">Ausliefern</a></p>

			@if (canEdit) {
				<form (ngSubmit)="saveInfo(theForm);" #theForm="ngForm">
					<div class="thRow">
						<mat-form-field>
							<mat-label>Status</mat-label>
							<mat-select [(ngModel)]="selected.deliveryState" name="deliveryState" required #deliveryStateControl="ngModel">
								@for (vs of Object.values(DeliveryStateEnumDto); track vs) {
									<mat-option [value]="vs">{{ vs }}</mat-option>
								}
							</mat-select>
						</mat-form-field>

						@switch (selected!.deliveryState) {
							@case (DeliveryStateEnumDto.TravelingToGpn) {
								<button mat-button type="button" (click)="suggestLocation(LogisticsLocationDto.InTransport)">Inhalte auf Ort InTransport setzen?</button>
							}
							@case (DeliveryStateEnumDto.WaitingAtGpn) {
								<button mat-button type="button" (click)="suggestLocation(LogisticsLocationDto.Loc)">Inhalte auf Ort LOC setzen?</button>
							}
							@case (DeliveryStateEnumDto.Packing) {
								<button mat-button type="button" (click)="suggestLocation(LogisticsLocationDto.Entropia)">Inhalte auf Ort Entropia setzen?</button>
							}
							@case (DeliveryStateEnumDto.WaitingForDelivery) {
								<button mat-button type="button" (click)="suggestLocation(LogisticsLocationDto.Entropia)">Inhalte auf Ort Entropia setzen?</button>
							}
						}
					</div>
					<button mat-flat-button type="submit" [disabled]="!theForm.form.valid || !theForm.dirty" style="margin-top: 10px;">
						<mat-icon fontIcon="save"></mat-icon>
						Speichern
					</button>
				</form>
			} @else {
				<p>Status: {{ selected.deliveryState }}</p>
			}

			@if (canEdit) {
				<h2 id="mass_ops">Massenoperationen</h2>
				<form (ngSubmit)="doMassOp(form)" #form="ngForm">
					<p>Ort aller kisten setzen:</p>
					<app-location-editor required appValidateLocation [(ngModel)]="massOpLocation" name="real"></app-location-editor>
					<button mat-flat-button type="submit" [disabled]="form.invalid" style="margin-top: 10px">
						<mat-icon fontIcon="check"></mat-icon>
						Anwenden
					</button>
				</form>
			}

		</mat-tab>
		<mat-tab label="Kisten">
			<form (ngSubmit)="saveCrates(theForm2);" #theForm2="ngForm" class="content">
				<div>
					<table mat-table [dataSource]="source" matSort>

						<ng-container matColumnDef="status">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="status" sortActionDescription="Sort by Status">Status</th>
							<td mat-cell *matCellDef="let element" class="icon-vert-center">
								@switch (element.status) {
									@case (ItemStatus.KEEP) {
										<mat-icon fontIcon="arrow_right" matTooltip="Wird nicht geändert"></mat-icon>
									}
									@case (ItemStatus.ADDED) {
										<mat-icon fontIcon="add" matTooltip="Wird hinzugefügt" [style.color]="'lightgreen'"></mat-icon>
									}
									@case (ItemStatus.REMOVED) {
										<mat-icon fontIcon="delete" matTooltip="Wird entfernt" [style.color]="'crimson'"></mat-icon>
									}
									@case (ItemStatus.TRANSFERRED) {
										<mat-icon fontIcon="arrow_right_alt" matTooltip="Wird von einer anderen Packliste bewegt" [style.color]="'cadetblue'"></mat-icon>
									}
								}
							</td>
						</ng-container>

						<ng-container matColumnDef="operationCenter">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="operationCenter" sortActionDescription="Sort by OC">OC</th>
							<td mat-cell *matCellDef="let element">{{ element.operationCenter }}</td>
						</ng-container>
						<ng-container matColumnDef="name">
							<th mat-header-cell *matHeaderCellDef mat-sort-header="name" sortActionDescription="Sort by name">Name</th>
							<td mat-cell *matCellDef="let element">{{ element.name }}</td>
						</ng-container>

						<ng-container matColumnDef="location">
							<th mat-header-cell *matHeaderCellDef>Ort</th>
							<td mat-cell *matCellDef="let element">
								<app-location [location]="element.location"></app-location>
							</td>
						</ng-container>

						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef>Aktionen</th>
							<td mat-cell *matCellDef="let element">
								<button mat-mini-fab type="button" (click)="remove(element)">
									<mat-icon fontIcon="delete"></mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
						<tr class="mat-row" *matNoDataRow>
							<td class="mat-cell" colspan="4">Keine Kisten</td>
						</tr>
					</table>

					@if (canEdit) {
						<app-crate-add-widget (crateSubmitted)="crateSubmitted($event, true)"></app-crate-add-widget>
						<div class="bgroup">
							<button mat-flat-button (click)="scanMultiple()" type="button">
								<mat-icon fontIcon="qr_code_scanner"></mat-icon>
								Scannen
							</button>

							<button mat-flat-button type="submit" [disabled]="!theForm2.form.valid || !theForm2.dirty">
								<mat-icon fontIcon="save"></mat-icon>
								Speichern
							</button>
						</div>
					}
				</div>
			</form>
		</mat-tab>
	</mat-tab-group>
}
