.actions {
	position: absolute;
	right: 20px;
	bottom: 20px
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

:host {
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
