@if (!crate) {
	<div class="centerLoading"><mat-spinner mode="indeterminate"></mat-spinner></div>
} @else {
	<h1>Box {{crate.operationCenter}} / {{crate.name}}</h1>
	<app-print-button *requireAuthority="AuthorityEnumDto.Print" [thing]="{id: crate.internalId, type: 'crate'}"></app-print-button>
	<form (ngSubmit)="saveIt(theForm, location, delStatus, ftInfo);" #theForm="ngForm">
		<div class="content">
			<h2>Ort</h2>
			<p>
				<app-location-editor [(ngModel)]="crate.location" appValidateLocation name="location" #location="ngModel"></app-location-editor>
				@if (location.invalid && (location.dirty || location.touched)) {
					@if(location.hasError("ocRequired")) {
						<mat-error>OC nicht gefüllt!</mat-error>
					}
					@if(location.hasError("locRequired")) {
						<mat-error>LOC ort nicht gefüllt!</mat-error>
					}
					@if(location.hasError("locFreetextRequired")) {
						<mat-error>Ort nicht gefüllt!</mat-error>
					}
				}
			</p>
			<h2>Status</h2>
			<mat-form-field>
				<mat-label>Status</mat-label>
				<mat-select [(ngModel)]="crate.deliveryState" required name="deliverState" #delStatus="ngModel">
					@for (v of Object.values(DeliveryStateEnumDto); track v) {
						<mat-option [value]="v">{{ v }}</mat-option>
					}
				</mat-select>
				@if (delStatus.invalid && (delStatus.dirty || delStatus.touched)) {
					@if(delStatus.hasError("required")) {
						<mat-error>Erforderlich</mat-error>
					}
				}
			</mat-form-field>
			<h2>Sonstiges</h2>
			<p>Soll wieder bei LOC sein: {{crate.returnBy}}</p>
			<p>Information:</p>
			<textarea matInput [(ngModel)]="crate.information" name="ftInfo" class="ftInfo" rows="5" #ftInfo="ngModel"></textarea>

			<button mat-flat-button type="submit" [disabled]="!theForm.form.valid || !theForm.dirty">Änderungen Speichern</button>
		</div>
	</form>
}
