@let currentSet = crate();

@if (!currentSet) {
	<div class="centerLoading"><mat-spinner mode="indeterminate"></mat-spinner></div>
} @else {
	@let currentCrate = currentSet.crate;
	<h1>Box {{currentCrate.operationCenter}} / {{currentCrate.name}}</h1>
	<app-print-button *requireAuthority="AuthorityEnumDto.Print" [thing]="{id: currentCrate.internalId, type: 'crate'}"></app-print-button>
	<button
		mat-flat-button
		(click)="dupeCrate()"
		*requireAuthority="AuthorityEnumDto.CreateResources"
		style="margin-bottom: 10px;"
	>
		<mat-icon fontIcon="add"></mat-icon>
		Duplizieren
	</button>
	<form (ngSubmit)="saveIt(theForm, oc, location, delStatus, ftInfo);" #theForm="ngForm">
		<div class="content">
			<h2>Meta</h2>
			<h2>Packliste mit dieser Box</h2>
			@let relevantPls = currentSet.relatedPls;
			@if (!relevantPls) {
				<p>Keine</p>
			} @else {
				<p><a [routerLink]="'/packingList/'+relevantPls.packingListId">{{relevantPls.packingListId}} / {{relevantPls.packingListName}}</a> status {{relevantPls.deliveryState}}</p>
			}
			<mat-form-field>
				<mat-label>Verantwortlich</mat-label>
				<mat-select [disabled]="!canEdit" [(ngModel)]="currentCrate.operationCenter" required name="operationCenter" #oc="ngModel">
					@for (v of Object.values(OperationCenterDto).sort(); track v) {
						<mat-option [value]="v">{{ v }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<h2>Ort</h2>
			<p>
				<app-location-editor [disabled]="!canEdit" [(ngModel)]="currentCrate.location" appValidateLocation name="location" #location="ngModel"></app-location-editor>
				@if (location.invalid && (location.dirty || location.touched)) {
					@if(location.hasError("ocRequired")) {
						<mat-error>OC nicht gefüllt!</mat-error>
					}
					@if(location.hasError("locRequired")) {
						<mat-error>LOC ort nicht gefüllt!</mat-error>
					}
					@if(location.hasError("locFreetextRequired")) {
						<mat-error>Ort nicht gefüllt!</mat-error>
					}
				}
			</p>
			<h2>Status</h2>
			<mat-form-field>
				<mat-label>Status</mat-label>
				<mat-select [disabled]="!canEdit" [(ngModel)]="currentCrate.deliveryState" required name="deliverState" #delStatus="ngModel">
					@for (v of Object.values(DeliveryStateEnumDto); track v) {
						<mat-option [value]="v">{{ v }}</mat-option>
					}
				</mat-select>
				@if (delStatus.invalid && (delStatus.dirty || delStatus.touched)) {
					@if(delStatus.hasError("required")) {
						<mat-error>Erforderlich</mat-error>
					}
				}
			</mat-form-field>
			<h2>Sonstiges</h2>
			<p>Soll wieder bei LOC sein: {{currentCrate.returnBy}}</p>
			<p>Information:</p>
			<textarea [disabled]="!canEdit" maxlength="255" matInput [(ngModel)]="currentCrate.information" name="ftInfo" class="ftInfo" rows="5" #ftInfo="ngModel"></textarea>

			<button *requireAuthority="AuthorityEnumDto.ModifyResources" mat-flat-button type="submit" [disabled]="!theForm.form.valid || !theForm.dirty">Änderungen Speichern</button>
		</div>
	</form>
}
