<h2 mat-dialog-title>Packliste erstellen</h2>
<form [formGroup]="form" (ngSubmit)="handleSubmit()">
	<mat-dialog-content>
		<div class="content">
			<mat-form-field>
				<mat-label>Name</mat-label>
				<input type="text" matInput placeholder="Name" formControlName="name" />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Auf Palette</mat-label>
				<mat-select formControlName="packedOnPallet">
					<mat-option *ngFor="let pallet of euroPallets" [value]="pallet.palletId">
						{{pallet.palletId}}
						<span *ngIf="pallet.information != undefined && pallet.information.length > 0">- {{ pallet.information }}</span>
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button (click)="cancel()" type="button">Abbrechen</button>
		<button mat-button type="submit">Speichern</button>
	</mat-dialog-actions>
</form>
