<h2 mat-dialog-title>Noch ein Schritt...</h2>
<mat-dialog-content>
	<p>Es wurden Packlisten mit dieser Palette gefunden:</p>
	<ul>
		@for(v of this.dt; track v.packingListId) {
			<li>{{v.deleted ? "✅" : ""}} <a [routerLink]="['/packingList', v.packingListId]">{{v.packingListId}} / {{v.packingListName}}</a> status {{v.deliveryState}}</li>
		}
	</ul>
	<p>Wenn du dir <b>ABSOLUT SICHER</b> bist, dass diese AUCH gelöscht werden sollen, unterschreiben sie hier:</p>
	<mat-checkbox [disabled]="doingThings" [(ngModel)]="yeahImSure">Ich möchte ganz garantiert und bestimmt, dass <b>ALLE</b> Packlisten mit dieser Palette gelöscht werden. Unterzeichnet, Ich</mat-checkbox>

</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button (click)="cancel()" [disabled]="doingThings">Abbrechen</button>
	<button mat-button [disabled]="!yeahImSure || doingThings" (click)="delete()" class="danger">Ja ich bin mir sicher, <b>ALLES LÖSCHEN</b></button>
</mat-dialog-actions>
