::ng-deep body {
	//overflow-y: hidden; // i cant figure out why this shit overflows
}
.container {
	width: 100%;
	// i have no fucking idea why its 72px
	height: calc(100vh - 72px);
	max-height: calc(100vh - 64px);
	display: flex;
	flex-direction: row;
	column-gap: 20px;
	flex-wrap: wrap;
	row-gap: 20px;
	align-items: flex-start;
}
.quicklinks {
	min-width: 250px;
	flex: 2 1 100px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	//flex-grow: 2;
	align-items: center;
}
.mastodon {
	flex: 1 0 auto;
	//width: 400px;
	min-width: 200px;
	//max-width: 400px;
	//flex-grow: 1;
	//overflow: scroll;
	//height: 90%;
	//display: none;
}
.quicklink {
	flex: 1 1 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
	background-color: var(--mat-sys-surface-variant);
	min-width: 200px;
	height: fit-content;
	row-gap: 20px;
}
.quicklink:hover {
	cursor: pointer;
}
.quicklink * {
	margin: 0;
}
