<div class="editor">
	<mat-form-field>
		<mat-label>Ort</mat-label>
		<mat-select [(value)]="location.locationType" (valueChange)="update()" required>
			@for (v of Object.values(LocationTypeDto); track v) {
				<mat-option [value]="v">{{ v }}</mat-option>
			}
		</mat-select>
	</mat-form-field>

	@switch (location.locationType) {
		@case (LocationTypeDto.Logistics) {
			<mat-form-field>
				<mat-label>Logistik-Ort</mat-label>
				<mat-select [(value)]="location.logisticsLocation" (valueChange)="update()" required>
					@for (v of Object.values(LogisticsLocationDto); track v) {
						<mat-option [value]="v">{{ v }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
		}
		@case (LocationTypeDto.AtOperationCenter) {
			<mat-form-field>
				<mat-label>OC-Ort</mat-label>
				<mat-select [(value)]="location.operationCenter" (valueChange)="update()" required>
					@for (v of Object.values(OperationCenterDto).sort(); track v) {
						<mat-option [value]="v">{{ v }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
		}
		@case (LocationTypeDto.SomewhereElse) {
			<mat-form-field>
				<mat-label>Ort</mat-label>
				<input matInput [(ngModel)]="location.somewhereElse" placeholder="Location" (ngModelChange)="update()" required>
			</mat-form-field>
		}
	}
</div>
