services:
  db:
    image: postgres
    restart: no
    environment:
      POSTGRES_USER: logitrack
      POSTGRES_PASSWORD: superGeheimesDevPw123$%!
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
  adminer:
    image: adminer
    restart: no
    ports:
      - "23646:8080"
volumes:
  pgdata: