services:
  db:
    image: postgres
    restart: no
    environment:
      POSTGRES_USER: logitrack
      POSTGRES_PASSWORD: superGeheimesDevPw123$%!
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
  adminer:
    image: adminer
    restart: no
    ports:
      - "23646:8080"
#  nginx:
#    image: nginx
#    volumes:
#      - ./templates:/etc/nginx/templates
##    ports:
##      - "8000:8000"
#    environment:
#      - NGINX_HOST=127.0.0.1
#      - NGINX_PORT=8000
#    network_mode: host

volumes:
  pgdata: