<button
	mat-raised-button
	(click)="createUser()"
>Nutzer erstellen
</button>

<table mat-table [dataSource]="dataSource" matSort>

	<ng-container matColumnDef="username">
		<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username">
			Username
		</th>
		<td mat-cell *matCellDef="let element">
			<a [routerLink]="'/users/'+element.username">{{element.username}}</a>
		</td>
	</ng-container>

	<ng-container matColumnDef="authorities">
		<th mat-header-cell *matHeaderCellDef>
			Authorities
		</th>
		<td mat-cell *matCellDef="let element">
			{{element.authorities.join(", ")}}
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
