form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: fit-content;
}
.danger {
	--mdc-filled-button-container-color: #ea680b;
}

.bgroup > *:first-child {
	--mdc-filled-button-container-shape: var(--mat-sys-corner-large) 0 0 var(--mat-sys-corner-large);
}

.bgroup> *:last-child {
	--mdc-filled-button-container-shape: 0 var(--mat-sys-corner-large) var(--mat-sys-corner-large) 0;
}


.fg {
	display: flex;
	flex-direction: row;
}
