<form (ngSubmit)="saveIt();" class="theForm" [formGroup]="fg">
	<div class="row">
		<mat-form-field>
			<mat-label>Box</mat-label>
			<input type="text"
				   name="whenthe"
				   matInput
				   formControlName="search"
				   [matAutocomplete]="auto"
					required>
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
				@for (option of filteredAvailable | async; track option) {
					<mat-option [value]="option">{{option}}</mat-option>
				}
			</mat-autocomplete>
		</mat-form-field>

		<div class="bgroup">
			<button mat-fab type="button" (click)="scan()">
				<mat-icon fontIcon="qr_code_scanner"></mat-icon>
			</button>

			<button mat-fab type="submit" [disabled]="fg.invalid">
				<mat-icon fontIcon="add"></mat-icon>
			</button>
		</div>
	</div>

	@if(err) {
		<mat-error>Keine Box gefunden</mat-error>
	}

</form>

