.row {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
}
.theForm {
	margin-top: 10px;
	margin-bottom: 10px;
}

.bgroup > *:first-child {
	--mdc-fab-container-shape: var(--mat-sys-corner-large) 0 0 var(--mat-sys-corner-large);
}

.bgroup> *:last-child {
	--mdc-fab-container-shape: 0 var(--mat-sys-corner-large) var(--mat-sys-corner-large) 0;
}
