<form (ngSubmit)="saveIt(theForm);" #theForm="ngForm" class="theForm">
	<div class="row">
		<mat-form-field>
			<mat-label>OC</mat-label>
			<mat-select [(ngModel)]="inputModel.oc" required name="oc">
				@for (v of Object.values(OperationCenterDto); track v) {
					<mat-option [value]="v">{{ v }}</mat-option>
				}
			</mat-select>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput [(ngModel)]="inputModel.name" required name="name" placeholder="Boxname">
		</mat-form-field>

		<button mat-fab type="button" (click)="scan()">
			<mat-icon fontIcon="qr_code_scanner"></mat-icon>
		</button>

		<button mat-fab type="submit" [disabled]="theForm.invalid">
			<mat-icon fontIcon="add"></mat-icon>
		</button>
	</div>

	@if(err) {
		<mat-error>Keine Box gefunden</mat-error>
	}

</form>

