<main>
	<h1>Palletten</h1>
	<button
		mat-flat-button
		(click)="createPallet()"
		*requireAuthority="AuthorityEnumDto.ManageResources"
		style="margin-bottom: 10px"
	>
	<mat-icon fontIcon="add"></mat-icon>
		Pallette erstellen
	</button>
	<div>
		<mat-form-field class="searchBar">
			<mat-label>Filter</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="Ex. finanzen" #input>
		</mat-form-field>

		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="ds" matSort>

				<!-- ID Column -->
				<ng-container matColumnDef="euroPalletId">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
					<td mat-cell *matCellDef="let row"> {{row.euroPalletId}} </td>
				</ng-container>

				<!-- Fruit Column -->
				<ng-container matColumnDef="location">
					<th mat-header-cell *matHeaderCellDef mat-sort-header> Ort </th>
					<td mat-cell *matCellDef="let row">
						<a [routerLink]="'/euroPallet/'+row.euroPalletId">
							<app-location [location]="row.location"></app-location>
						</a>
					</td>
				</ng-container>

				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>Aktionen</th>
					<td mat-cell *matCellDef="let row">
						<button mat-mini-fab (click)="printPallet(row)">
							<mat-icon fontIcon="print"></mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

				<!-- Row shown when there is no matching data. -->
				<tr class="mat-row" *matNoDataRow>
					<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
				</tr>
			</table>

			<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</div>
</main>
