.stats {
	display: flex;
	flex-direction: row;
	gap: 20px;
	flex-wrap: wrap;
}
.container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	background-color: gray;
	row-gap: 10px;
	align-items: center;
	flex-grow: 1;
	//min-width: fit-content;
}
.container * {
	margin: 0;
}
.clickable:hover {
	cursor: pointer;
}
