[Unit]
Description=Tracking system for GPN LOC
Documentation=https://github.com/entropia/logistik-tracking
Requires=network.target nginx.service

[Service]
Type=notify
ExecStart=/opt/logitrack/bin/service_main.sh
ExecStop=/opt/logitrack/bin/stop.sh
Restart=no
# 143 = 128 + 15; 128 + SIGTERM. we killed it, we expect it to return this one
SuccessExitStatus=0 143
NotifyAccess=all

[Install]
WantedBy=multi-user.target