[Unit]
Description=Tracking system for GPN LOC - Frontend
Documentation=https://github.com/entropia/logistik-tracking
Requires=network.target nginx.service logitrack.service

[Service]
Type=exec
ExecStart=/usr/bin/env -C /opt/logitrack/frontend HOST=127.0.0.1 PORT=8000 ORIGIN=https://lager.entropia.de /usr/bin/node /opt/logitrack/frontend
User=logitrack
Restart=no
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target