<main>
	@if (!pallet) {
		<div class="centerLoading"><mat-spinner mode="indeterminate"></mat-spinner></div>
	} @else {
		<h1>Palette {{ pallet.euroPalletId }} / {{getInfos()}}</h1>
		<div style="margin-bottom: 15px">
			<button
				(click)="createPackingList()"
				mat-flat-button
				*requireAuthority="AuthorityEnumDto.CreateResources"

			>
				Zugehörige Packliste erstellen
			</button>
			<app-print-button *requireAuthority="AuthorityEnumDto.Print" [thing]="{id: id, type: 'pallet'}"></app-print-button>
		</div>
		<form (ngSubmit)="saveIt(theForm)" #theForm="ngForm">
			<div class="content">
				<h2>Packlisten mit dieser Palette</h2>
				<ul>
					@for(pl of relevantPls; track pl.packingListId) {
						<li><a [routerLink]="'/packingList/'+pl.packingListId">{{pl.packingListId}} / {{pl.packingListName}}</a> status {{pl.deliveryState}}</li>
					}
				</ul>
				<h2>Ort</h2>
				<app-location-editor appValidateLocation [(ngModel)]="editingLocation" name="location"
									 [disabled]="!canEdit"
									 #name="ngModel"></app-location-editor>
				@if (name.invalid && (name.dirty || name.touched)) {
					@if (name.hasError("ocRequired")) {
						<mat-error>OC nicht gefüllt!</mat-error>
					}
					@if (name.hasError("locRequired")) {
						<mat-error>LOC ort nicht gefüllt!</mat-error>
					}
					@if (name.hasError("locFreetextRequired")) {
						<mat-error>Ort nicht gefüllt!</mat-error>
					}
				}
				<button *requireAuthority="AuthorityEnumDto.ModifyResources" mat-flat-button type="submit" [disabled]="!theForm.form.valid || !theForm.dirty" style="margin-top: 20px">
					Änderungen Speichern
				</button>
			</div>
		</form>
	}
</main>
