<!-- fixme sexy machen -->
<main>
	<h1>Juten morgen</h1>
	<p>anmelden bitte</p>
	@if (hadError) {
		<p class="error">Nutzername oder passwort falsch</p>
	}
	<!-- fixme url dynamisch rausfinden (window host?) -->
	<form [action]="apiUrl()+'/login'+getFromPart()" method="post" class="theForm">
		<mat-form-field>
			<mat-label>Nutzername</mat-label>
			<input matInput type="text" name="username" required minlength="3">
		</mat-form-field>
		<mat-form-field>
			<mat-label>Passwort</mat-label>
			<input matInput type="password" name="password" required>
		</mat-form-field>

		<button type="submit" mat-flat-button>
			Los gehts
		</button>
	</form>
</main>
